.button {
    padding-block: 12px;
    padding-inline: 24px;
    text-decoration: none;
    border-radius: 8px;
    transition: brightness 150ms ease-in-out;
    cursor: pointer;
    border: none;
    font-size: 16px;
    font-weight: 600;
}
.button:hover {
    filter: brightness(90%);
}
.button--small {
    padding-block: 8px;
    padding-inline: 16px;
    font-size: 14px;
    font-weight: 600;
}
.button--blue {
    background-color: #0077b6;
    color: #fff;
}

.button--red {
    color: #fff;
    background-color: #c1121f

}
.add-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    font-size: 28px;
    background: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
}

.button--green {
    background-color: #52B788;
    position: fixed;
    right: 50px;
    bottom: 50px;
    border-radius: 50%;
    color: white;
}
