 main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 32px 24px;
}

.news-grid {
display: grid;
grid-template-columns: 50% 50%;
margin-inline: 56px;
margin-block: 48px;
}

.news-card {
display: grid;
grid-template-columns: 200px 1fr;
column-gap: 30px;
align-items: stretch;
}
.news-card__image {
max-width: 100%;
height: auto;
aspect-ratio: 1/1;
border-radius: 16px;
overflow: hidden;
}
.news-card__image > img {
width: 100%;
height: 100%;
object-fit: cover;

}

.news-card__content {
display: flex;
flex-direction: column;
height: 100%;

}
.news-card__link {
text-decoration: none;
color: inherit;
}

.news-card__title {
font-size: 18px;
font-weight: 700;
margin: 0;

}
.news-card__attributes {
margin-top: 16px;
color: #707070;

}

.news-card__author {
    margin-top: 8px;
    margin-bottom: 10px;


}
.news-card__actions {
display: flex;

gap: 8px;
margin-top: auto;

} 










/* категории */
.container {
    padding: 40px;
}

.categories {
    
    border-radius: 6px;
}

.category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 20px;
    
}

.category:last-child {
    border-bottom: none;
}
